body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}
.hero {
  background-color: #31333F;
  height: 150px;
}
.description {
  /*background-color: yellow;*/
  height: 100%;
  margin-top: 25px;
}
.description .descrip {
  color: #31333F;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 18px;
  text-align: center;
  line-height: 40px;
}
.link1,
.link2,
.link3,
.link4 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  background-color: #31333F;
  height: 200px;
}
header {
  background-color: #31333F;
  width: 100%;
  height: 300px;
}
.footer {
  background-color: #31333F;
  width: 100%;
  height: 100px;
  margin-top: 25px;
}
.foot {
  height: 100px;
  background-color: #31333F;
  display: flex;
  align-items: center;
  justify-content: center;
}
.foot .footText {
  color: #FCFE6C;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 10px;
}
