

body{
	margin: 0;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23ababab' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.hero{
	background-color: #31333F;
	height: 170px;
}

.nav{
	background-color: #31333F;
	height: 30px;
	display: flex;

	.about, .contribute{
		color: #FCFE6C;
		font-family: 'Raleway', sans-serif;
		font-weight: 300;
		font-size: 11px;
		margin-left: 12px;
		margin-top: 7px;
	}
}

.description{
	/*background-color: yellow;*/
	height: 100%;
	margin-top: 25px;

	.descrip{
		color: #31333F;
		font-family: 'Raleway', sans-serif;
		font-weight: 300;
		font-size: 20px;
		text-align: center;
		line-height: 40px;
	}
}

.link1, .link2, .link3, .link4{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
	background-color: #31333F;
	height: 200px;

}

.link1Hover{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
	background-color: #FCFE6C;
	height: 200px;
}


header{
	background-color: #31333F;
	width: 100%;
	height: 200px;
}

.footer{
	background-color: #31333F;
	width: 100%;
	height: 75px;
	margin-top: 45px;

}

.foot{
		height: 75px;
		background-color: #31333F;
		display: flex;
		align-items: center;
		justify-content: center;

		.footText{
			color: #FCFE6C;
			font-family: 'Raleway', sans-serif;
			font-weight: 300;
			font-size: 10px;
		}
	}







