body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23ababab' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}
.hero {
  background-color: #31333F;
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav {
  background-color: #31333F;
  height: 30px;
  display: flex;
}
.nav .about,
.nav .contribute,
.nav .home {
  color: #FCFE6C;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 11px;
  margin-left: 12px;
  margin-top: 7px;
}
.description {
  /*background-color: yellow;*/
  height: 100%;
  margin-top: 25px;
}
.description .descrip {
  color: #31333F;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 25px;
  text-align: center;
  line-height: 40px;
  margin-top: 45px;
}
.link1,
.link2,
.link3,
.link4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
  background-color: #31333F;
  height: 200px;
}
.link1 .label,
.link2 .label,
.link3 .label,
.link4 .label {
  margin-bottom: 5px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: #FCFE6C;
}
.form {
  width: 100%;
  height: 300px;
  /*background-color: red;*/
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form .contribute {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 60px;
  color: #31333F;
}
.form input {
  width: 300px;
  height: 60px;
}
header {
  background-color: #31333F;
  width: 100%;
  height: 200px;
}
.footer {
  background-color: #31333F;
  width: 100%;
  height: 75px;
  margin-top: 45px;
}
.foot {
  height: 75px;
  background-color: #31333F;
  display: flex;
  align-items: center;
  justify-content: center;
}
.foot .footText {
  color: #FCFE6C;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 10px;
}
.data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20%;
  background-color: grey;
  margin-top: 30px;
  border-radius: 10px;
}
a {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
  color: white;
  margin-top: 0px;
  margin-bottom: 12px;
}
.linkDescrip {
  color: #FCFE6C;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 3px;
}
.utilLogo {
  margin-bottom: 30px;
}
