<header class="header">
<div class="container">
	<div class="row">
		<div class="twelve columns">
			<div class="hero">
				<h1>Hello</h1>
			</div>
		</div>
</div>
</header>

	<div class=container>
	<div class="row">
		<div class="twelve columns">
			<div class="description">
				<p class="descrip">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit 
				</p>
			</div>
		</div>
	
	<div class="row">
    	<div class="three columns">
    		<div class="link1">
    			One
			</div>
		</div>
   	 	<div class="three columns">
   	 		<div class="link2">
    			two
			</div>
   	 	</div>
   	 	<div class="three columns">
   	 		<div class="link3">
    			three
			</div>
   	 	</div>
   	 	<div class="three columns">
   	 		<div class="link4">
    			four
			</div>
   	 	</div>
	</div>

</div>
</div>

<footer class="footer">
<div class="container">
<div class="row">
		<div class="twelve columns">
			<div class="foot">
				<p class="footText">
				Created by Jason Corey &copy 2017
				</p>
			</div>
		</div>
</div>
</div>
</footer>
