<header class="header">

<div class="container">
	<div class="row">
		<div class="twelve columns">
			<div class="nav">
			<p class="about"> About Me </p>
			<p class="contribute"> Contribute </p>
			</div>
		</div>
</div>

<div class="container">
	<div class="row">
		<div class="twelve columns">
			<div class="hero">
				<img src="/images/logo_api.svg" width="700" height="700"/>
			</div>
		</div>
</div>
</header>

	<div class=container>
	<div class="row">
		<div class="twelve columns">
			<div class="description">
				<p class="descrip">
				This is a library of interesting and useful APIs for developers<br>
				Feel free to contribute!
				</p>
			</div>
		</div>
	
	<div class="row">
    	
    	<div class="three columns">
    		<div class="link1">
    		<img src="/images/utilities.svg" width="150" height="150"/>
			</div>
		</div>
   	 	
   	 	<div class="three columns">
   	 		<div class="link2">
    			<img src="/images/media.svg" width="150" height="150"/>
			</div>
   	 	</div>
   	 	
   	 	<div class="three columns">
   	 		<div class="link3">
    			<img src="/images/design.svg" width="150" height="150"/>
			</div>
   	 	</div>
   	 	
   	 	<div class="three columns">
   	 		<div class="link4">
    			<img src="/images/fun.svg" width="150" height="150"/>
			</div>
   	 	</div>
	</div>

</div>
</div>

<footer class="footer">
<div class="container">
<div class="row">
		<div class="twelve columns">
			<div class="foot">
				<p class="footText">
				Created by Jason Corey &copy 2017
				</p>
			</div>
		</div>
</div>
</div>
</footer>
