<!DOCTYPE html>
<html>
<head>
	<script
  	src="https://code.jquery.com/jquery-3.2.1.min.js"
  	integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  	crossorigin="anonymous"></script>
  	<link href="https://fonts.googleapis.com/css?family=Raleway:300,400,700" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/style/style.css">
  	<link rel="stylesheet" type="text/css" href="/style/normalize.css">
  	<link rel="stylesheet" type="text/css" href="/style/skeleton.css">
	<title>API Library</title>
</head>
<body>

	<%=yield%>





<script type="text/javascript" src="/script/script.js"></script>
</body>
</html>